{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">         
            <!-- Table -->
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">Table</p>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="display expandable-table" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>ID#</th>
                                                    <th>Title</th>
                                                    <th>Description</th>
                                                    <th>Amount</th>
                                                    <th>Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <button type="button" class="btn btn-danger btn-rounded btn-fw">
                                                            <i class="bi bi-trash menu-icon"></i>
                                                        </button>
                                                    </td>
                                                    <td>1</td>
                                                    <td>Title 1</td>
                                                    <td>Description 1</td>
                                                    <td>Rs. 100.00</td>
                                                    <td>
                                                        <a href="view" class="text-white">
                                                            <button type="button" class="btn btn-primary btn-rounded btn-fw">
                                                                View
                                                            </button>
                                                        </a>
                                                        <a href="edit" class="text-white">
                                                            <button type="button" class="btn btn-primary btn-rounded btn-fw">
                                                                Edit
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <button type="button" class="btn btn-danger btn-rounded btn-fw">
                                                            <i class="bi bi-trash menu-icon"></i>
                                                        </button>
                                                    </td>
                                                    <td>2</td>
                                                    <td>Title 2</td>
                                                    <td>Description 2</td>
                                                    <td>Rs. 200.00</td>
                                                    <td>
                                                        <a href="view" class="text-white">
                                                            <button type="button" class="btn btn-primary btn-rounded btn-fw">
                                                                View
                                                            </button>
                                                        </a>
                                                        <a href="edit" class="text-white">
                                                            <button type="button" class="btn btn-primary btn-rounded btn-fw">
                                                                Edit
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
