{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">         
            <!-- Table -->
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">
                                <a href="{% url 'admins' %}" class="text-black text-decoration-none">
                                    <i class="mdi mdi-arrow-left" style="font-size: 24px; color: black;"></i>
                                </a>                                
                                <span class="ml-2">View</span>
                            </p>
                            
                            <!-- View Card -->
                            <div class="d-flex">
                                <img src="{% static 'admin/images/faces/face1.jpg' %}" class="card-img-top" alt="Admin Image" style="height: 150px; width: 150px; object-fit: cover;"> <!-- Image -->
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h5 class="card-title">Title 1</h5> <!-- Title -->
                                    <p class="card-text">Description 1</p> <!-- Description -->
                                    <p class="card-text"><strong>Amount:</strong> Rs. 100.00/-</p> <!-- Amount -->
                                    <div class="d-flex">
                                        <a href="" class="btn btn-primary mr-2">Edit</a> <!-- Edit Button -->
                                        <a href="" class="btn btn-primary">Delete</a> <!-- Edit Button -->
                                    </div>
                                </div>
                            </div>
                            
                            <!-- End View Card -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}